.container {
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
}

.title {
    color: #241c3d;
    text-align: center;
    margin-bottom: 25px;
}

.section-title {
    color: #241c3d;
    margin-top: 30px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #080808;
    margin-top: 10px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.group {
    margin-bottom: 15px;
}

.submit-button {
    background-color: #3f3757;
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

.response-area {

    padding: 10px;
}